<section id="listingEdit">
    @using (Html.BeginForm("AddListing", "SecureSite", new { area = "ivNet.Listing" }))
    {
    @Html.AntiForgeryToken()

    <div class="col-md-offset-10 col-md-12">
        <input type="submit" value="Save" class="btn btn-success" ng-click="saveListing()">
        <input type="button" value="Cancel" class="btn btn-warning" ng-click="cancelSaveListing()">
    </div>

    <div class="col-md-6">
        @Html.Partial("Listings/_PaymentPackage")
        @Html.Partial("Listings/_AddressDetails")
        @Html.Partial("Listings/_Description")
        @Html.Partial("Listings/_FileUpload")
    </div>

    <div class="col-md-6">
        @Html.Partial("Listings/_Rooms")
        @Html.Partial("Listings/_LocalTheatres")
        @Html.Partial("Listings/_Tags")
        @Html.Partial("Listings/_WebsiteUrl")
    </div>
    }
</section>